<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--RTSPプロトコルカメラの場合はURL、デバイスカメラの場合は、デバイス番号を指定する-->
		<add key="cameraAddress" value="自分のデバイスURLを記入してください" />
		<add key="timerInterval" value="67"/>
		<!--デバイスカメラの場合の解像度、フレームレートを指定する。-->
		<add key="cameraFrameWidth" value="1280" />
		<add key="cameraFrameHeight" value="960" />
		<add key="cameraFps" value="60" />
	</appSettings>
</configuration>
